

//==================================================================
@media screen and (min-width: 320px)
	#map1
		border 10px solid white
		margin 1em 1em 0
		width 280px
		height 280px

	#map2
		border 10px solid white
		margin 1em 1em 0
		width 280px
		height 280px


@media screen and (min-width: 420px)
	#map1
		border 10px solid white
		margin 1em 1em 0
		width 320px
		height 320px

	#map2
		border 10px solid white
		margin 1em 1em 0
		width 320px
		height 320px


//===================================================================

@media screen and (min-width: 768px)

	#map1
		border 10px solid white
		margin 1em 1em 0
		width 350px
		height 350px

	#map2
		border 10px solid white
		margin 1em 1em 0
		width 350px
		height 350px

	.button-icons
		display inline
	
	// .button-links
	// 	max-width 400px
	// 	margin 0 auto
	.button-menu
		display none
	
	.content-slider
		text-align center


	.flexslider
		width 640px
		text-align center
		margin 0 auto
		display inline-block


	.item
		width 75%
		display inline-block
	.articulo
		display inline-block
		padding 3em 3em 5em
		width 75%



	.menu768
		display inline
		text-align center
		li
			display inline-block
			padding 0 0 0.3em 0
			border-bottom 5px solid transparent
			vertical-align top
		a
			padding 0 1em 1em 0.5em
			color darkgrey
			&:hover

				border-bottom 5px solid first
	.menu_button
		display none
	
	.tecnologies
		text-align center
	.tecnologie-box
		display inline-block
		vertical-align top
		margin 0.5em
		width 30%

	.welcome
		height 150px

	.content2
		font-size 0
	.intro
		border-left 1px solid mediumgrey	
		display inline-block 
		font-size 1rem
		vertical-align top
		width 50%
		height 300px








//========================================================================
@media screen and (min-width: 1024px)
	
	#map1
		border 10px solid white
		margin 1em 1em 0
		width 400px
		height 400px

	#map2
		border 10px solid white
		margin 1em 1em 0
		width 400px
		height 400px



	.flexslider
		width 960px
		text-align center
		margin 0 auto
		display inline-block
	
