@import 'nib'
@import 'normalize'
@import 'variables'
@import '_icons'

//==================== MY RESET ====================
img
	height auto
	max-width 100%



.figure
	margin 0


@media screen and (min-width: 420px)
	.content2
		display none
