// //COLORS ===============================

// cb = rgb(97,178,32)
// lipoclub = rgb(196,0,106)
// first = rgb(142,187,54)
// second = rgb(218,115,176)
// third = rgb(175,149,211)
// four = rgb(167,200,232)

// //LIGHTEEN COLORS ======================


// lt-third = rgb(222,253,245)
// lt-second = rgb(255,230,207)


// black = rgb(0,0,0)
// white = rgb(255,255,255)
// lightgrey = rgb(246,246,246)
// mediumgrey = rgb(177,177,176)
// darkgrey = rgb(79,78,87)


// // TRANSPARENT COLORS =====================
// t-cb = rgba(cb,0.95)
// t-first = rgba(first, 0.80)
// tt-first = rgba(first, 0.50)
// ttt-first = rgba(first, 0.30)



// t-black = rgba(black,0.9)
// tt-black = rgba(black,0.6)
// ttt-black = rgba(black, 0.3)
// t-white = rgba(white,0.9)







// ==================== MAIN COLORS ====================

mc 		= rgb(81,0,99)

// ==================== LIGHTEEN COLORS ====================

mc-l1 	= rgb(116,51,130)
mc-l2 	= rgb(220,204,224)
mc-l3 	= rgb(241,235,243)


// ==================== GREYSCALE ====================

black 	= rgb(0,0,0)
gs-1 	= rgb(63,62,62) 	// 90%
gs-2 	= rgb(134,134,134) 	// 60%
gs-3 	= rgb(217,217,217) 	// 20%
gs-4 	= rgb(246,236,236) 	// 5%
white 	= rgb(255,255,255)



